@import "null.css";

@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  width: 1920px;
}
.wrapper {
  max-width: 810px;
  min-height: 100%;
	overflow: hidden;
  margin: 0 auto;
}
.link {
  text-transform: uppercase;
  word-spacing: 10px;
  text-indent: 20px;
  font-size: 30px;
  color: crimson;
  font-weight: 900;
}
h1 {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
  color: #1E212C;
  margin: 190px 0px 92px 0px;
}
h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #1E212C;
}
.main__img {
  margin-bottom: 60px;
}
.main__title {
  margin-bottom: 24px;
}
.main__title-2 {
  margin: 48px 0;
  padding-left: 52px;
}
.main__text {
  margin-bottom: 24px;
}
.main__column {
  padding-left: 32px;
  margin-bottom: 24px;
}
.main__text-2 {
  margin-bottom: 362px;
}
