@import "null.css";
@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900,italic,700italic,900italic);
body {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: normal;
}
.wrapper {
  width: 1440px;
  min-height: 100%;
	overflow: hidden;
  margin: 0 auto;
}
.link a{
  color: rgb(247, 9, 9);
  font-size: 30px;
}
img {
  width: 50%;
  margin: 15px 0px;
}
h1 {
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin-top: 20px;
}
h2 {
  font-weight: 700;
  text-align: center;
  display: block;
  padding: 20px 20px;
}
nav {
  font-style: italic;
  color: blue;
  line-height: 1.5;
}
p {
  font-family: "Lato", sans-serif;
  text-indent: 5%;
  letter-spacing: 2px;
  text-align: justify;
}
a {
  color: rebeccapurple;
  font-style:oblique;
}
span {
  display: block;
}

.block-1 {
  max-width: 50%;
  margin: 0px 0px 0px auto;
  padding: 20px 100px;
}
.block-1 img {
  width: 100%;
}
.block-2 p {
  width: 50%;
}
.block-3 {
  margin: 0 30%;
}
.block-4 {
  width: 35%;
  margin: 0 0 0 auto;
  overflow: auto;
  max-height: 500px;
}
.block-5 {
  margin: 0 100px;
  font-style: italic;
  font-weight: 900;
}
.block-5 img {
  width: 770px;
  margin-left: 300px;
  margin-bottom: 100px;
}
.block-6 p{
  width: 50%;
  font-size: 24px;
  font-weight: 700;
}
.block-7 p{
  padding: 20px 150px;
}
.block-7 img {
  width: 100%;
}
.block-8 {
  padding: 0 300px;
  text-transform: uppercase;
}
.block-9 {
  overflow: auto;
  margin: 0 500px;
  max-height: 200px;
}
.block-10 {
  max-width: 500px;
  margin: 0 0 0 auto;
}
.block-10 img {
  width: 100%;
  height: 100%;
}
.block-11 {
  margin: 15% 15%;
}
.block-11 img{
  width: 100%;
  padding: 0 150px;
}
.block-11 p {
  color: rgb(14, 240, 112);
}